<div class="card shadow rounded border-0 bg-transparent p-3 text-center">
  <p class="fs-6 fw-medium">Ranking de reciclaje</p>

  <ul class="list-group list-group-flush">

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-between">
      <p class="fw-medium small">Usuario</p>
      <p class="fw-medium small">Uni</p>
    </li>

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-between">
      <p class="small">1. Herbert Pro Castillo</p>
      <p class="small">120</p>
    </li>

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-between">
      <p class="small">2. Herbert Pro Castillo</p>
      <p class="small">112</p>
    </li>

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-between">
      <p class="small">1. Herbert Pro Castillo</p>
      <p class="small">98</p>
    </li>

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-between">
      <p class="small">2. Herbert Pro Castillo</p>
      <p class="small">75</p>
    </li>

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-between">
      <p class="small">3. Herbert Pro Castillo</p>
      <p class="small">12</p>
    </li>

    <li class="list-group-item p-0 border-0 bg-transparent d-flex justify-content-end">
      <a class="fw-medium small text-decoration-none text-dark" [routerLink]="'/ranking'">Ver Todos</a>
    </li>

  </ul>
</div>
