<!--<div class="row mb-1">-->
<!--  <div class="col-12">-->
<!--    <img *ngIf="robotState" class="w-50" src="assets/images/robot/{{robotState}}.png" alt="{{robotState}}">-->
<!--  </div>-->
<!--</div>-->

<!--<ng-container *ngIf="finishAlert === false && listRecycles.length > 0">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <p class="fw-medium text-uppercase mb-0">Total Recilados: ({{listRecycles.length}})</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->

<!--<ng-container *ngIf="total">-->
<!--  <p>Totalitos Recaudados: ({{total}})</p>-->
<!--</ng-container>-->


<!--<ng-container *ngIf="totalRecycled > 0">-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <p class="fw-medium text-uppercase mb-0">Total Recilados: ({{listRecycles.length}})</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-container>-->
