<section class="container-fluid bg-secondary-subtle p-5">
  <div class="container-fluid container-xl">
    <div class="row">

      <div class="col-6 text-center">
        <img class="img-fluid w-75" ngSrc="{{image1}}" alt="" height="512" width="512" priority="">
      </div>

      <div class="col-6">
        <p class="display-1">Diviértete reciclando con EcoBot.</p>
        <br>
        <div class="text-center">
          <button type="button" class="btn btn-success mb-3 pt-2 pb-2 ps-5 pe-5 " [routerLink]="'/login'">
            Únete gratis
          </button>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="container-fluid bg-white p-5">
  <div class="container-fluid container-xl">
    <div class="row">

      <div class="col-5">
        <p class="display-6">EcoBot te enseña de manera facil y entretenida la forma correcta de reciclar tus
          desperdicios.</p>
      </div>

      <div class="col-7">
        <img class="img-fluid" ngSrc="{{image2}}" alt="" height="201" width="646" priority="">
      </div>
    </div>
  </div>
</section>
