<div class="container-fluid container-xl">
  <div class="row text-center">

    <div class="col-6 p-5">
      <img class="img-fluid w-75" ngSrc="{{image1}}" alt="" height="256" width="256" priority="">
      <p class="display-6 fw-medium text-success">EcoBot</p>
    </div>

    <div class="col-6 p-5">
      <div class="row">
        <div class="col-8 offset-2 col-xxl-7 offset-xxl-2">
          <div class="card shadow rounded border-0 p-3 m-auto text-center">
            <p class="display-6 mb-3">Iniciar sesión</p>
            <button (click)="loginGoogle()" type="button" class="btn btn-danger w-100 mb-3">
              <i class="bi bi-google me-2"></i>
              Continuar con google
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
